.sign-up {
  background: #23252F;
  min-height: 100vh;
  display: flex;
}

.sign-up-heading {
  display: flex;
  flex-direction: column;
  width: 930px;
  text-align: left;
  justify-content: center;
  padding: 182px;
  color: #fff;
  gap: 15px;
}

.sign-up-fields {
  width: 670px;
  background-color: #2B2D38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 62px;
  color: #fff;
}

.sign-up-fields form {
  margin-top: 28px;

}

.sign-up-fields label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}

.sign-up-fields label input,
.sign-up-fields label select {
  width: 261px;
  height: 60px;
  border: 1px solid #464856;
  background-color: #23252F;
  padding: 17px 20px;
  color: white;
  font-size: 16px;
}

.sign-up-fields label textarea {
  border: 1px solid #464856;
  background-color: #23252F;
  padding: 17px 20px;
  color: white;
  font-size: 16px;
}

.sign-up-fields label.checkbox {
  display: flex !important;
  flex-direction: row;
  gap: 10px;

}

.sign-up-fields label.checkbox input {
  width: 24px;
  height: 24px;
  border: 1px solid #464856 !important;
  background-color: #23252F !important;
}

.sign-up-fields form button{
  background-color: white;
  width: 289px;
  height: 79px;
  border: 0px;
  box-shadow: 8px 9px 16px 0px #8B8B8B40;
  font-size: 18px;
  font-weight: 600;
}